.float-left{
    float:left
}

{
    background-color: rgba(37, 36, 36, 0.9);
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    background-color: red;
    height: 70px;
    width: 200px;
    cursor: pointer;
}

.btn-upgrade{
    background-color: lightblue;
    height: 70px;
    width: 200px;
    cursor: pointer;
}

#btn-testo-white{

}


/* SEZIONE FOOTER */
footer{
    background-color: #282828;
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* z-index: 5;
    position: fixed; */
}

footer i{
    font-size: 20px;
}

.col, .col-centrale {
    display: flex;
    align-items: center;    
}

.col > div{
    padding: 0 10px;
}

.col-centrale > .icon-white{
    padding: 0 15px;
}

.col-centrale{
    width: 710px;     
}


/* info brano */
.ftr-track-id{
    margin-right: 20px;
}

#dimensione-ftr-img-album{
    height: 50px;
    width: 50px;
}

.ftr-track-id{
    width: 100px;    
}

.ftr-track-id p{
    font-size: 10px;
}

/* icone */
.icon-col-centrale{
    height: 50px;
    width: 710px;
    position: absolute;  
}

.icon-col-centrale > .icon-white{    
    margin: 0 25px;
}

.icon-white{
    color: white;
}

.icon-grey {
    color: #747474;
}

/* indicatore tempo riproduzione */
.time-reproduction{
    /* background-color: lightseagreen; */
    color: white;    
    font-size: 8px;
    position: absolute;  
    margin-top: 60px;     
    height: 18px;  
}

.time-hr-line-lightgray{
    width: 160px;
    background-color: lightgray;
    height: 7px;      
    border-radius: 5px;
    /* border-bottom-left-radius: 5px; */
    margin-left: 50px;
    margin-top: 6px;
}

.time-hr-line-gray{
    width: 400px;
    background-color: gray;
    height: 7px;      
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    margin-right: 50px;
    margin-top: 6px;
}

.fa-random{
    padding-left: 182px;  
}

.fa-redo-alt{
    padding-right: 182px;  
}

/* indicatore volume */
.horizontal-line-lightgray{
    background-color: lightgray;
    height: 5px;
    width: 20px;   
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.horizontal-line-gray{
    background-color: gray;
    height: 5px;
    width: 70px;    
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}



