/* COMMON */
.float-left{
    float:left
}

.box{
    height: calc(100vh - 100px);
    background-color: #ffc0cb;
    border: 1px solid black;
    padding: 15px;        
    color: black;
    /* display: flex; */
    /* align-items: center;
    justify-content: center;     */
}

/* SEZIONE MENU A LATO */
.menu-a-lato{
    flex-direction: column;
    justify-content: space-between;
}

.sez-up-menu-a-lato{
    width: 100%;
    height: calc(100% - 150px);
}

.sez-up-menu-a-lato > ul, li, a{
    text-decoration: none;
    list-style: none;
}

.logo{
    width: 70%px;
    margin-bottom: 20px;
}

.item-menu-a-lato i{
    margin-right: 10px;
    margin: 10px 0;
}


/* playlist */
.playlist{
    overflow:hidden;
    height:80%;
}

.playlist i{
    background-color: #747474;
    width: 40px;
    height: 40px;   
    line-height: 40px;
    padding-left: 13px;  
    margin-right: 10px;  
}


/* lista playlist */
.lista-delle-playlist{    
    width: 100%;    
    background-color: coral; 
    overflow-y: auto;
    height:40%;   
}

li{
    margin: 10px 0;
}


/* blocco inferiore */
.sez-down-menu-a-lato{
   padding-top: 90px;
    height:150px;
    flex-shrink: 1;
    width: 100%;
}

.sez-down-menu-a-lato a{
    color: gray;    
}

.sez-down-menu-a-lato hr{
    color: gray;
    margin: 10px 0;
}


.nome-utente{
    font-size: 16px;
}

.nome-utente i{
    font-size: 25px;   
}




/* MENU PRINCIPALE */

/* header del menu principale */
.header-del-menu-principale{
    background-color: rgba(37, 36, 36, 0.9);
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn-upgrade{
    background-color: lightblue;
    height: 70px;
    width: 200px;
    cursor: pointer;
}




/* SEZIONE FOOTER */
footer{
    background-color: #282828;
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* z-index: 5;
    position: fixed; */
}

footer i{
    font-size: 20px;
}

.col, .col-centrale {
    display: flex;
    align-items: center;    
}

.col > div{
    padding: 0 10px;
}

.col-centrale > .icon-white{
    padding: 0 15px;
}

.col-centrale{
    width: 710px;     
}


/* info brano */
.ftr-track-id{
    margin-right: 20px;
}

#dimensione-ftr-img-album{
    height: 50px;
    width: 50px;
}

.ftr-track-id{
    width: 100px;    
}

.ftr-track-id p{
    font-size: 10px;
}

/* icone */
.icon-col-centrale{
    height: 50px;
    width: 710px;
    position: absolute;  
}

.icon-col-centrale > .icon-white{    
    margin: 0 25px;
}

.icon-white{
    color: white;
}

.icon-grey {
    color: #747474;
}

/* indicatore tempo riproduzione */
.time-reproduction{
    /* background-color: lightseagreen; */
    color: white;    
    font-size: 8px;
    position: absolute;  
    margin-top: 60px;     
    height: 18px;  
}

.time-hr-line-lightgray{
    width: 160px;
    background-color: lightgray;
    height: 7px;      
    border-radius: 5px;
    /* border-bottom-left-radius: 5px; */
    margin-left: 50px;
    margin-top: 6px;
}

.time-hr-line-gray{
    width: 400px;
    background-color: gray;
    height: 7px;      
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    margin-right: 50px;
    margin-top: 6px;
}

.fa-random{
    padding-left: 182px;  
}

.fa-redo-alt{
    padding-right: 182px;  
}

/* indicatore volume */
.horizontal-line-lightgray{
    background-color: lightgray;
    height: 5px;
    width: 20px;   
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.horizontal-line-gray{
    background-color: gray;
    height: 5px;
    width: 70px;    
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}



